<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="VisionModule.dll" moduleType="VisionModule.VisionModuleModule, VisionModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="VisionModuleModule" startupLoaded="True" />
    <module assemblyFile="MotionModule.dll" moduleType="MotionModule.MotionModuleModule, MotionModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MotionModuleModule" startupLoaded="True" />
  </modules>
</configuration>